.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    border: 2px solid black;
    border-radius: 16px;
    width: 80vw;
    height: 80%;
}

.card-left {
    padding: 20px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-left img {
    width: 100%;
    border-radius: 50%;
}

.card-right {
    margin: 20px;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: justify;
}