@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(20, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

@media (max-width: 600px) {
    .title {
        white-space: pre-wrap;
        animation: none;
        border-right: none;
    }
}